.App {
    text-align: center;
    margin-top: 110px;
    margin-bottom: 100px;
}

body {
    margin: 0;
}

html, body {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-weight: 550;
}