.App {
    text-align: center;
    margin-top: 112px;
    margin-bottom: 100px;
}

html, body {
    font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
}

h2 {
    font-weight: 550;
}

a {
    text-decoration: none;
}

ul,ol {
    list-style: none;
}