:root{
    --color-negro:#212529;
    --color-blanco: #FFFFFF;
    --color-texto:#6C757D;
    --color-rojo:#ED0722;
    --color-verde: #1ED12D;
    --color-rgba-rojo:rgba(237,7,34,.21);
    --color-rgba-celeste:rgba(55,147,246,.27);
    --color-celeste:#0D6EFD;
    --color-azul: #0250C4;
    --color-input:#EEF5F9;
}