.img-logo {
    width: 240px;
}

.nav-item {
    font-size: 18px;
    font-weight: 550;
    margin: 0px 6px;
}

.navbar .navbar-nav .nav-link:hover {
    color: #0D6EFD;
}

.navbar-nav .nav-link.active {
    color: #0D6EFD;
}

.dropdown-item {
    font-size: 18px;
    font-weight: 550;
    color: #838383;
}

a.nav-link.dropdown-toggle.show {
    color: #0D6EFD;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #0D6EFD;
    color: #FFFFFF;
    
}

.form-control-header {
    background-color: #EEF5F9;
    border: 2px solid #EEF5F9;
    border-radius: 20px;
    font-size: 18px;
    padding: 6px 30px 6px 14px;
    width: 250px;
}

.form-control-header:focus {
    background-color: #EEF5F9;
    border: 2px solid #000000;
    box-shadow: none;
}

.btn-blue {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 20px;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid var(--color-celeste);
    border-radius: 10px;
    background-color: var(--color-celeste);
    cursor: pointer;
    transition: all 0.4s ease;
}

.btn-blue:hover {
    color: var(--color-blanco);
    border: 2px solid #0250C4;
    border-radius: 80px;
    background-color: #0250C4;
}

.btn-blue:focus {
    box-shadow: none;
}