.form-control {
	background-color: #EEF5F9;
	border: 2px solid #EEF5F9;
	color: #6C757D;
	border-radius: 20px;
	padding: 14px 20px;
	font-size: 16px;
}

.form-control:focus {
	background-color: #EEF5F9;
	border: 2px solid #000000;
	box-shadow: none;
}

.form-control-call:focus {
	background-color: #EBEBEB;
	box-shadow: none;
}

.form-select {
	background-color: #EEF5F9;
	border-radius: 20px;
	padding: 14px 40px 14px 20px;
	font-size: 16px;
	border: none;
}

.form-select:focus {
	box-shadow: none;
}

.btn-form {
    padding: 12px 60px;
    border-radius: 20px;
    font-weight: 600;
}

.form-group-input {
	position: relative;
}
  
.form-group-input input {
	padding-right: 30px; /* Espacio para el icono */
}
  
.form-group-input .fa-solid {
	position: absolute;
	top: 50%;
	right: 10px; /* Ajusta el valor según sea necesario */
	transform: translateY(-50%);
	font-size: 18px; /* Tamaño del icono */
}

/* Estilos para los íconos de éxito y error */
.success-icon {
    color: var(--color-verde);
}

.error-icon {
    color: var(--color-rojo);
}

/* Mensaje de error al hacer click en el botón enviar del formulario FormClient */

.error-message {
    background: var(--color-rgba-rojo);
    border-radius: 4px;
    padding: 12px 20px;
    margin-bottom: 10px;
}

.error-message p {
    font-size: 13px;
    color: var(--color-rojo);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
