.form-control {
	background-color: #EEF5F9;
	border: 2px solid #EEF5F9;
	color: #6C757D;
	border-radius: 20px;
	padding: 14px 20px;
	font-size: 16px;
}

.form-control:focus {
	background-color: #EEF5F9;
	border: 2px solid #000000;
	box-shadow: none;
}

.form-control-call:focus {
	background-color: #ebebeb;
	box-shadow: none;
}

.form-select {
	background-color: #EEF5F9;
	border-radius: 20px;
	padding: 14px 40px 14px 20px;
	font-size: 16px;
	border: none;
}

.form-select:focus {
	box-shadow: none;
}

.btn-form {
    padding: 12px 60px;
    border-radius: 20px;
    font-weight: 600;
}