/*========================================
Estilos mensajes de error
==========================================*/
.error-text {
    background: var(--color-rgba-rojo);
    border-radius: 4px;
    padding: 12px 20px;
    margin-bottom: 10px;
    display: none;
}

.error-text p {
    font-size: 13px;
    color: var(--color-rojo);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-text.active {
    display: block;
}

.has-error:focus {
    border: 2px solid #ed0722;
}